:root {
  --font-size-m: 16px;
  --font-size-s: 12px;
  --space-xxl: 40px;
  --space-xl: 28px;
  --space-l: 20px;
  --space-m: 14px;
  --space-s: 10px;
  --space-xs: 6px;
  --space-xxs: 3px;
  --border-radius-s: 4px;
  --red: red;
  --red-light: #fbbebe;
  --blue-darkest: #2d374b;
  --blue-dark: #1683cd;
  --blue: #28a0f0;
  --blue-lighter: #96bedc;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-m);
  background-image: url('https://bridge.arbitrum.io/images/space.webp');
  background-repeat: repeat;
  background-color: black;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    179.53deg,
    #000 19.46%,
    rgba(0, 0, 0, 0.650795) 40.76%,
    rgba(0, 0, 0, 0.462631) 60.09%,
    hsla(0, 0%, 100%, 0) 99.6%
  );
  padding: var(--space-xxl) var(--space-m);
  margin: 0;
  color: #fff;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  font-size: 2.8rem;
  line-height: 1.3;
  margin-top: 0;
}

h2 {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-m);
}

@media screen and (max-width: 400px) {
  h1 {
    display: inline;
  }
}

main {
  width: 100%;
  margin-top: var(--space-l);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 740px;
  gap: 10px;
  margin: auto;
}

.input-style {
  font-size: var(--font-size-m);
  padding: 8px 16px;
  width: 100%;
  min-width: 100px;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
}

button,
input[type='submit'] {
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  font-size: var(--font-size-m);
  line-height: 1.3;
  padding: var(--space-s) var(--space-xl);
  text-transform: uppercase;
  border: none;
  border-radius: var(--border-radius-s);
  margin: 0;
  cursor: pointer;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--blue-dark);
}

.button-outline {
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
}

.button-outline:hover {
  background-color: rgba(217, 215, 215, 0.2);
}

.button-small {
  font-size: var(--font-size-s);
  padding: var(--space-xs) var(--space-s);
}

a {
  text-decoration: underline;
  color: white;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
  color: white;
}

.redeemtext {
  width: 100%;
  height: 10em;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  gap: var(--space-m);
  margin-top: var(--space-xl);
}

.header-logo {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-l);
}

@media screen and (max-width: 400px) {
  .header-logo {
    height: 240px;
  }
}

.header-logo img {
  width: auto;
  height: 100%;
  filter: drop-shadow(2px 4px 26px rgba(255, 255, 255, 0.4));
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo img {
    animation: Header-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.tooltip {
  font-weight: 600;
}

.receipt-text {
  margin: var(--space-m) auto;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.external-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-m);
}

.text-align-center {
  text-align: center;
}

.react-tooltip {
  font-size: var(--font-size-m);
}

.resultContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
