.form-container {
  margin-top: 20px;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.input-style {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-width: 300px;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  order: 1;
}

input[type="submit"] {
  order: 2;
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              rgb(84, 105, 212) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;

  justify-self: auto;
  margin: auto;
  cursor: pointer;

  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
}

a { 
  text-decoration: underline;
  color: white; 
  
}
a:visited { 
  text-decoration: underline;
  color: white; 
}
